* {
    font-family: JetBrainsMono Nerd Font Propo;
    font-size: 12px;
    font-weight: bold;
}

window#waybar {
    color: #ffffff;
    background-color: rgba(20, 20, 20, 1);
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#wireplumber:hover {
    background-color: #a37800;
}

#workspaces button {
    padding: 0.2em;
    margin: 0;
    min-width: 0.2em;
    background-color: transparent;
    color: #ffffff;
}

#workspaces label {
    font-size: 9px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    color: #F53C3C;
}

#language {
    color: #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,

#window,

#workspaces {
    margin: 0 4px;
}

#battery {
    color: #ffffff;
    background-color: #212121;
    padding: 0px 6px;
    border-radius: 8px;
    margin: 3px;
}

#battery.charging, #battery.plugged {
    color: #26A65B;
    background-color: #212121;
}

#battery.warning:not(.charging) {
    background-color: #212121;
    color: #E5A50A;
}

#battery.critical:not(.charging) {
    background-color: #212121;
    color: #C01C28;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    color: #ffffff;
    background-color: #212121;
    padding: 0px 6px;
    border-radius: 8px;
    margin: 3px;
}

#power-profiles-daemon.performance {
    color: #F53C3C;
}


#power-profiles-daemon.balanced {
    color: #2980B9;
}

#power-profiles-daemon.power-saver {
    color: #2ECC71;
}

#cpu {
    color: #ffffff;
    background-color: #212121;
    padding: 0px 6px;
    border-radius: 8px;
    margin: 3px;
}

#memory {
    color: #ffffff;
    background-color: #212121;
    padding: 0px 6px;
    border-radius: 8px;
    margin: 3px;
}

#network {
    background-color: #212121;
    color: #ffffff;
    padding: 0px 6px;
    border-radius: 8px;
    margin: 3px;
}


#network.disconnected {
    background-color: #212121;
}

#bluetooth {
    background-color: #212121;
    color: #ffffff;
    padding: 0px 6px;
    border-radius: 8px;
    margin: 3px;
}


#pulseaudio {
    background-color: #212121;
    color: #ffffff;
    padding: 0px 6px;
    border-radius: 8px;
    margin: 3px;

}

#pulseaudio.muted {
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    padding: 0;
    margin: 3px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 0px;
    color: white;
}

#privacy-item.screenshare {
    color: #cf5700;
}

#privacy-item.audio-in {
    color: #1ca000;
}
